# Node.js
node_modules/

# Logs
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Dependency directories
bower_components/

# Jest coverage reports
coverage/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.*

# Output files
dist/
build/

# Temporary files
*.tmp
*.swp
